.container{
    display: flex;
    align-items:center;
    flex-direction:column;
    justify-content: center;
    cursor: pointer;
}

.line{
    width: 20px;
    height: 2px;
    background: #000;
    margin: 2px 0px;
    opacity:1;
    transition: all 0.15s ease;
}

.isOpen .line:nth-child(1){
    transform: translateY(6px) rotate(45deg);
}

.isOpen .line:nth-child(2){
    opacity:0;
}

.isOpen .line:nth-child(3){
    transform: translateY(-6px) rotate(-45deg);
}