.container {
    position: relative;
    height: 40px;
    background: #fff;
    width: 100%;
}
.input{
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 25px 5px 15px;
    border-radius: 3px;
    box-shadow: none;
    z-index: 2;
    position: relative;
    background: transparent;
    border: 1px solid #e1e6ef;
}

.input:focus{
    border-color: #20a8d8;
    outline: none;
}

.label {
    position: absolute;
    left: 15px;
    line-height: 15px;
    font-size: 15px;
    top: 50%;
    z-index: 1;
    font-weight: 400;
    transform: translateY(-50%);
    color: #aaa;
    transition: all 0.3s ease;
}
.filledInputLabel {
    font-size: 12px;
    top: 25%;
}

.close {
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    position: absolute;
    font-size: 18px;
    height: 18px;
    padding: 0;
    color: #ff5454;
    display: block;
    border: 0;
    outline: none;
    background: transparent;
    box-shadow: none;
    z-index: 10;
    cursor: pointer;
}