.wrapper {
    position: relative;
    display: flex;
    margin-bottom: 10px;
  }

  .wrapper :global(.form-control) {
    height: 40px;
    width: 200px;
    box-sizing: border-box;
    padding: 20px 25px 5px 10px;
    border-radius: 3px;
    box-shadow: none;
    z-index: 2;
    position: relative;
    background: transparent;
    border: 1px solid #ccc;
    font-size: 18px;
    color: inherit;
    outline: none;
  }

  .wrapper :global(.rdtOpen) :global(.form-control) {
    border-color: #20a8d8;
  }

  .label {
    position: absolute;
    top: 13px;
    left: 10px;
    color: #00000099;
    transition: font-size 200ms ease 0s, top 200ms ease 0s;
    pointer-events: none;
  }

  .labelActive {
    top: 2px;
    font-size: 12px;
  }

  .close {
    position: absolute;
    right: 0;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #ff5454;
    outline: none;
    z-index: 9999;
	}