.container{
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.6s;
}

.isShow{
    opacity: 0.9;
    visibility: visible;
}

.spinner {
    margin: 10px auto 0;
    width: 70px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #666;
  border-radius: 100%;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
  animation: bouncedelay 1.4s infinite ease-in-out both;
}

.spinner__text {
  text-align: center;
  color: #666;
  font-weight: bold;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
